.main-summary{
    background: #eee;
    border: 1px solid black;
    padding: 10px;
    width: 40%;
    margin: 2rem auto;
}

.summary-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 10px;
    font-weight: bold;
    border-bottom: 4px dotted black;
    position: relative;
}

.summary-header-item{
    display: flex;
}

.button {
    outline: none;
    border: none;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin-left: 1rem;
    padding: 6px 20px;
    position: absolute;
    top: -20px;
    right: -25px;
}

.summary-section{
    padding: 10px;
    width: 90%;
    text-align: left;
}

.summary-section-content{
    display: flex;
    justify-content: space-between;
}