.airport-control{
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    width: 20rem;
    border: 1px solid #6b69f1;
}

.table_content{
    text-align: center;
    margin-top: 4rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }