.modal{
    width: 50rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left: 30%;
    padding: 20px;
}

.modal-header{
    padding: 0.8rem;
    background: #6b69f1;
    color: white;
}

.modal-content {
    padding: 1rem;
}
